{% for pushsecret in openshift.services.vault.pushsecrets %}
---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: "{{ pushsecret.remoteKey }}-secret-priming"
  namespace: vault-server
spec:
  deletionPolicy: Delete
  refreshInterval: 10s
  secretStoreRefs:
    - name: vault-backend
      kind: SecretStore
  selector:
    secret:
      name: "{{ pushsecret.remoteKey }}-priming-secrets"
  data:
{% for secret in pushsecret.secrets %}
    - match:
        secretKey: "{{ secret.key }}"
        remoteRef:
          remoteKey: "{{ pushsecret.remoteKey }}"
          property: "{{ secret.key }}"
{% endfor %}
{% endfor %}
