apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: vault-secret-priming
  namespace: vault-server
spec:
  deletionPolicy: Delete
  refreshInterval: 10s
  secretStoreRefs:
    - name: vault-backend
      kind: SecretStore
  selector:
    secret:
      name: vault-priming-secrets
  data:
  {% for secret in vault.secrets %}
  - match:
        secretKey: "{{ secret.key }}"
        remoteRef:
          remoteKey: demo
          property: "{{ secret.key }}"
  {% endfor %}