{%- for pushsecret in openshift.services.vault.pushsecrets -%}
---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ pushsecret.remoteKey }}-priming-secrets"
  namespace: "vault-server"
data:
{% for secret in pushsecret.secrets %}
  {{ secret.key }}: "{{ secret.value | b64encode }}"
{% endfor %}

{% endfor %}
