apiVersion: v1
kind: Secret
metadata:
  name: vault-priming-secrets
  namespace: "vault-server"
data:
  {% for secret in vault.secrets %}
  {{ secret.key }}: "{{ secret.value | b64encode }}"
  {% endfor %}
