$TTL    5m
$ORIGIN apps.internal.
@       IN      SOA     ns1.apps.internal. root.apps.internal. (
                              2         ; Serial
                             60         ; Refresh
                             60         ; Retry
                             60         ; Expire
                             60 )       ; Negative Cache TTL
;
@           IN      NS      ns1.apps.internal.
;
ns1         IN      A       192.168.50.52
;
nfs         IN      A       192.168.50.94
;
argocd      IN      A       192.168.50.96
;
vault       IN      A       192.168.50.85
;
kibana      IN      A       192.168.50.96
;
storefront  IN      A       192.168.50.96
;
storefront-admin IN A	    192.168.50.96
;
content-engine	 IN A	    192.168.50.96
;