$TTL 5m
$ORIGIN {{ arpa_zone }}.in-addr.arpa.
@       IN      SOA     ns1.cluster.internal. root.cluster.internal. (
                              1         ; Serial
                             60         ; Refresh
                             60         ; Retry
                             60         ; Expire
                             60 )       ; Negative Cache TTL
;

@       IN  NS      ns1.cluster.internal.
; PTR Records
{% for record in dns_records %}
{{ record.ip_last_octet }} IN PTR {{ record.hostname }}
;
{% endfor %}